---
import Base from "@layouts/Base.astro";
import RecentPosts from "@components/RecentPosts.astro";
---

<Base>
  <article>
    <header><h1>CCIEE</h1></header>
    <p>
      <strong>CCIEE</strong> es el Comite de Cultura de la Innovación en la Extensión estudiantil somos (seremos) un semillero de investigación que busca estudiar la cultura organizaciónal en la universidad nacional de colombia alrededor de la extensión estudiantil con especial enfazis en las <b>sedes de frontera.</b>
    </p>
  </article>
  <hr />
  <RecentPosts />
</Base>
